<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h4>dependencies</h4>
    <ul>
      <li
        v-for="(version, key) in dependencies"
        :key="key"
      >
        {{ key }}: {{ version }}
      </li>
    </ul>
    <h4>devDependencies</h4>
    <ul>
      <li
        v-for="(version, key) in devDependencies"
        :key="key"
      >
        {{ key }}: {{ version }}
      </li>
    </ul>
  </div>
</template>

<script>
import { dependencies, devDependencies } from '../../package'

export default {
  data() {
    return {
      dependencies,
      devDependencies
    }
  }
}
</script>
<style lang="less" scoped>
.about {
  h4 {
    margin: 20px 0 10px;
  }
  ul {
    max-width: 260px;
    margin: 0 auto;
  }
  li {
    display: block;
    text-align: left;
    color: @theme;
    padding: 3px;
  }
}
</style>
