* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

html {
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: @gray;
}

body {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

// 路由选中状态
.router-link-exact-active {
  color: @theme;
}

.container {
  // 主题响应式容器
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1248px) {
  .container {
    max-width: calc(100% - 48px);
  }
}
