<template>
  <div class="hello">
    <!-- filter -->
    <p>filter {{ new Date() | formatDate }}</p>
    <!-- directive -->
    <input v-focus placeholder="custom directive" />
    <h1>{{ msg }}</h1>
    <h3>Customize</h3>
    <ul>
      <li><a href="https://cn.vuejs.org/v2/api/#Vue-filter" target="_blank" rel="noopener">filter</a></li>
      <li><a href="https://cn.vuejs.org/v2/guide/custom-directive.html" target="_blank" rel="noopener">directive</a></li>
      <li><a href="https://cn.vuejs.org/v2/api/#vm-on" target="_blank" rel="noopener">bus</a></li>
      <li><a href="https://router.vuejs.org" target="_blank" rel="noopener">router(history)</a></li>
      <li><a href="https://vuex.vuejs.org" target="_blank" rel="noopener">store(modules)</a></li>
      <li><a href="" target="_blank" rel="noopener">api(axios)</a></li>
      <li><a href="" target="_blank" rel="noopener">utils(delay、date-format)</a></li>
      <li><a href="https://github.com/eslint/eslint/" target="_blank" rel="noopener">eslint</a></li>
      <li><a href="" target="_blank" rel="noopener">style</a></li>
      <li><a href="" target="_blank" rel="noopener">global-less-variable</a></li>
      <li><a href="" target="_blank" rel="noopener">gzip</a></li>
    </ul>
    <h3>Builder</h3>
    <ul>
      <li><a href="" target="_blank" rel="noopener">uglifyjs-webpack-plugin</a></li>
      <li><a href="" target="_blank" rel="noopener">compression-webpack-plugin</a></li>
      <li><a href="" target="_blank" rel="noopener">happypack</a></li>
      <li><a href="" target="_blank" rel="noopener">BannerPlugin</a></li>
      <li><a href="" target="_blank" rel="noopener">HashedModuleIdsPlugin</a></li>
      <li><a href="" target="_blank" rel="noopener">VersionPlugin(private)</a></li>
      <li><a href="" target="_blank" rel="noopener">DeploymentPlugin(private)</a></li>
    </ul>
    <h3>Installed</h3>
    <ul>
      <li><a href="https://router.vuejs.org" target="_blank" rel="noopener">vue-router</a></li>
      <li><a href="https://vuex.vuejs.org" target="_blank" rel="noopener">vuex</a></li>
      <li><a href="https://github.com/axios/axios" target="_blank" rel="noopener">axios</a></li>
      <li><a href="https://github.com/less/less.js" target="_blank" rel="noopener">less</a></li>
      <li><a href="https://babeljs.io/docs/en/babel-polyfill" target="_blank" rel="noopener">babel-polyfill</a></li>
      <li><a href="https://www.npmjs.com/package/style-resources-loader" target="_blank" rel="noopener">style-resources-loader</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
h3 {
  margin: 40px 0 0;
}
ul {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  display: inline-block;
  margin: 0 10px;
  padding: 6px;
}
a {
  color: #42b983;
}
</style>
