<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="less">
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: @gray;

    &.router-link-exact-active {
      color: @theme;
    }
  }
}
</style>
